# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db
dist/